h6{
    color: red;/*COLOR PARA EL TITULO*/
    background-color: black;/*COLOR DEL FONDO*/
    text-transform: uppercase;/*MAYUSCULAS O MINUSCULAS*/
    text-align: center;
    font-size: large;

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p{
    font-style: italic;
    font-size: 20px;
}

.destacados{
    color: red;
}

.prueba2{
    color: blue;
font-size: large;
}

#caja2{
    background-color: orange;
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

#caja2 h6 {
    color: blue;
}
